[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/matt-dev/Desktop/ASIO4ALL v2 Instruction Manual.desktop]
row=7
col=0

[/home/matt-dev/Desktop/ASIO4ALL v2 Instruction Manual.lnk]
row=9
col=0

[/home/matt-dev/Desktop/FL Studio 20.desktop]
row=8
col=0

[Wastebasket]
row=6
col=0

[/]
row=5
col=0

[/home/matt-dev]
row=4
col=0

