[Settings]
ShowAllProcesses=TRUE
ShowLegend=TRUE
MorePrecision=TRUE
FullCommandLine=TRUE
ShowStatusIcon=FALSE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=SMALL
PromptTerminateTask=TRUE
RefreshRate=750
ColumnUID=FALSE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=FALSE
ColumnVSZ=FALSE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=FALSE
SortColumn=7
SortType=1
WindowWidth=1920
WindowHeight=1048
HandlePosition=336
ProcessTreeView=TRUE
